apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://github.com/ashutosh-18k92/gitops-v2.git
      targetRevision: HEAD
      ref: gitops

    - repoURL: https://grafana.github.io/helm-charts
      chart: grafana
      targetRevision: 7.3.9
      helm:
        valueFiles:
          - $gitops/platform/observability/grafana/values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
