apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  # Enable Kustomize to inflate Helm charts globally
  # This allows Kustomize to process helmCharts sections in kustomization.yaml
  kustomize.buildOptions: "--enable-helm --load-restrictor LoadRestrictionsNone"
