apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev

patches:
  - target:
      kind: Application
      name: aggregator-service
    patch: |-
      - op: replace
        path: /spec/source/path
        value: deploy/overlays/dev
      - op: replace
        path: /spec/destination/namespace
        value: super-fortnight-dev
